name: Proof of Conan

on:
  workflow_dispatch:
    inputs:
      repository:
        required: true
        description: 'x'
      ref:
        required: true
        description: 'x'
      path:
        required: true
        description: 'x'
      targets:
        required: true
        description: 'JSON of all your targets'

permissions:
  contents: read

jobs:
  checkout:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "Building Conan Package" >> $GITHUB_STEP_SUMMARY
          echo "- repo: ${{ github.event.inputs.repository }}" >> $GITHUB_STEP_SUMMARY
          echo "- gitref: ${{ github.event.inputs.ref }}" >> $GITHUB_STEP_SUMMARY
          echo "- path: ${{ github.event.inputs.path }}" >> $GITHUB_STEP_SUMMARY

      - name: Checkout
        uses: actions/checkout@v6
        with:
          repository: ${{ github.event.inputs.repository }}
          ref: ${{ github.event.inputs.ref }}

      - uses: actions/upload-artifact@v6
        with:
          name: repo
          path: ${{ github.event.inputs.path }}

  _:
    runs-on: ${{ matrix.os }}
    needs: checkout
    strategy:
      matrix: ${{fromJson(github.event.inputs.targets)}}
    continue-on-error: true
    env:
      NOT_ON_C3I: 1
      CONAN_CMD: ${{ matrix.conancmd }}
      CONTAINER: ${{ matrix.container }}
    steps:
      - uses: actions/download-artifact@v7
        with:
          name: repo
          path: repo

      - run: du -a
        shell: bash

      - run: mv repo/${{ matrix.path }}/* .
        shell: bash
      - uses: actions/checkout@v6
        with:
          path: proof-of-conan
      - uses: actions/setup-python@v6
        id: setup-python
        with:
          python-version: "3.12"
          cache: 'pip'
          cache-dependency-path: 'proof-of-conan/requirements.txt'
          update-environment: false
      - run: ${{ steps.setup-python.outputs.python-path }} -m pip install -r proof-of-conan/requirements.txt

      - name: export conan to $PATH
        shell: bash
        run: |
          PY="${{ steps.setup-python.outputs.python-path }}"
          [[ "$RUNNER_OS" == "Windows" ]] && PY="$(cygpath -u "$PY")"
          "$PY" -c "import sysconfig; print(sysconfig.get_path('scripts'))" >> "$GITHUB_PATH"

      - name: set conan home
        if: ${{ runner.os == 'Windows' }}
        shell: bash
        run: echo "CONAN_HOME=${{ runner.temp }}\\.c2" >> $GITHUB_ENV

      - run: conan profile detect --force
        if: ${{ matrix.container == '' }}

      - run: conan install --requires=${{ matrix.toolchain }} -g virtualenv -c:a="tools.system.pyenv:python_interpreter=${{ steps.setup-python.outputs.python-path }}"
        if: ${{ matrix.toolchain != '' && matrix.container == '' }}

      - run: |
          du -a
          if test -f activate.sh; then
            echo "ACTIVATE!"
            source activate.sh
          fi
          which g++
          conan $CONAN_CMD -c:a tools.system.package_manager:mode=install -c:a tools.system.package_manager:sudo=True -c:a="tools.system.pyenv:python_interpreter=${{ steps.setup-python.outputs.python-path }}"
        name: conan ${{ matrix.conancmd }}
        shell: bash
        if: ${{ matrix.container == '' }}

        # Must be root? How else to use /build, and can't use ~ since we don't know the user
      - run: docker run --rm -i -v "$PWD:/build" -u root -w /build "$CONTAINER" conan $CONAN_CMD -c:a tools.system.package_manager:mode=install -c:a tools.system.package_manager:sudo=True
        if: ${{ matrix.container != '' }}
